body {
	font-family: sans-serif;
	white-space: nowrap;
}

.container {
	position: relative;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.languages {
	position: absolute;
	list-style-type: none;
	right: 30px;
	top: 0px;
}

.languages li {
	display: inline;
	margin-right: 5px;
	cursor: pointer;
}

.languages li img.selected {
	position: relative;
	border: navy solid 2px;
	cursor: default;
	margin: -2px;
}

.languages li  img{
	width: 26px;
	height: auto;
}

table {
	border-collapse: collapse;
	clear: both;
	width: auto;
	margin-left: auto;
	margin-right: auto;
    border: 2px solid #000;
}

tr,td {
    border: 1px solid #ddd;
}

td {
	width: 7px;
}

tr {
	height: 10px
}

td.alive {
	background-color: black;
}

td.dead {
	background-color: white;
}

.counter-random {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -26px;
	margin-bottom: 0px;
}

#counter {
	float: left;
	text-align: left;
	width: 40%;
	margin-top: 8px;
}

.counter {
	font-weight: bold;
	color: blue;
}

#random {
	position: relative;
	white-space: nowrap;
	text-align: right;
	margin-top: -10px;
	margin-left: auto;
	margin-right: 0px;
	width: 60%;
}

.commands1 {	
	margin-top: -10px;
	margin-bottom: 0px;
}

.commands2 {
	margin-top: -8px;
	margin-bottom: 0px;	
}

.counter-random ul, .commands1 ul, .commands2 ul {
	list-style-type: none;
	position: relative;
	top: 0px;
	bottom: 0px;
}

.counter-random li, .commands1 li, .commands2 li{
	display: inline;
	position: relative;
	top: 0px;
	bottom: 0px;
}

button {
	padding: 2px;
	font-size: 12px;
}

li .tip {
	visibility: hidden;
	opacity: 0;
	width: auto;
	background-color: #FFFFE1;
	color: #000;
	text-align: center;
	border: black solid 1px;
	border-radius: 0px;
	padding: 2px 4px;
	white-space: nowrap;
	font-size: 12px;
	text-align: left;
	-webkit-transition-property: opacity; /* Safari */
	-webkit-transition-duration: 0.7s; /* Safari */
	-webkit-transition-delay: 0s; /* Safari */
	transition-property: opacity;
	transition-duration: 0.7s;
	transition-delay: 0s;

	/* Position the tooltip */
	position: absolute;
	left: 0px;
	z-index: 1;
	outline: none;
}

li .tip-deact {
	display:none;
}

.counter-random li .tip {
	bottom: 28px;
}

.commands1 li .tip {
	bottom: 20px;
}

.commands2 li .tip {
	bottom: 28px;
}

li:hover .tip {
	visibility: visible;
	opacity: 1;
	-webkit-transition-property: opacity; /* Safari */
	-webkit-transition-duration: 0.7s; /* Safari */
	-webkit-transition-delay: 1s; /* Safari */
	transition-property: opacity;
	transition-duration: 0.7s;
	transition-delay: 1s;
}

li:hover .tip:hover {
	visibility: hidden;
}

li .tip ul {
	list-style-type: disc;
}

li .tip li {
	display: list-item;
}

.keyshort {
	color: blue;
	font-weight:bold;
}

button img {
	margin-top: 3px;
	margin-bottom: auto;
}

#start {
	width: 70px;
}

#step {
	width: 40px;
}

.led-off, .led-on {
	display: inline-block;
	position: relative;
	left: 4px;
	top: 5px;
	width: 12px;
	height: 12px;
}

.led-off {
	background: url(images/led.png) 0 0;
	background-size: 12px auto;
}

.led-on {
	background: url(images/led.png) 0 -12px;
	background-size: 12px auto;
}
