body {
	font-family: sans-serif;
	white-space: nowrap;
}

.container {
	position: relative;
	max-width: 820px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	display: none;
}

#help {
	display: inline-block;
	position: absolute;
	border: solid gray 2px;
	border-radius: 4px;
	background-color: #FFFFE1;
	right: 150px;
	top: 10px;
	width: 25px;
	font-size: 20px;
	font-weight: bold;
	cursor: default;
}

#help2 {	
	visibility: hidden;
	width: 773px;
	background-color: #FFFFE1;
	color: #000;
	text-align: justify;
	border: black solid 1px;
	border-radius: 4px;
	font-size: 12px;
	white-space: pre-wrap;
	padding: 5px 8px;

	/* Position the tooltip */
	position: absolute;
	right: -138px;
	top: 26px;
	z-index: 1;
	outline: none;
}

#help:hover #help2 {
	visibility: visible;
	font-weight: normal;
}

#help2 p {
	margin: 3px;
}

#help2 ul {
	margin: 0px;
	padding-left: 30px;
}

.languages {
	position: absolute;
	list-style-type: none;
	right: 30px;
	top: 0px;
}

.languages li {
	display: inline;
	margin-right: 5px;
}

.languages li img.selected { /* izabrana zastavica odgovarajućeg jezika */
	position: relative;
	border: navy solid 2px;
	margin: -2px;
}

.languages li img {
	width: 26px;
	height: auto;
}

#table {
	border-collapse: collapse;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000;
	cursor: url(images/pencil.cur), pointer;
}

#table.rightclick {
	cursor: url(images/eraser.cur), pointer;
}

td {
	border: 1px solid #ddd;
	margin: 0;
	padding: 0;
}

td.dead {
	background-color: white;
}

td.alive {
	background-color: black;
}

td.died {
	background-color: #EEEE88;
}

td.revived {
	background-color: blue;
}

td.dead:hover {
	background-color: #CCC;
}

td.alive:hover {
	background-color: #555;
}

body:active td.alive:hover {
	background-color: black;
}

#table.rightclick td.dead:hover {
	background-color: white;
}

.counter-random {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -26px;
	margin-bottom: 0px;
}

#counter {
	display: inline;
	float: left;
	text-align: left;
	width: 40%;
	margin-top: 8px;
}

#counter span {
	font-weight: bold;
	color: blue;
}

#random {
	position: relative;
	white-space: nowrap;
	text-align: right;
	margin-top: -10px;
	margin-left: auto;
	margin-right: 0px;
	width: 60%;
}

#density, #speed {
	cursor: pointer;
}

#density:active, #speed:active {
	cursor: url(images/leftright.cur), pointer;
}

.commands1 {	
	margin-top: -10px;
	margin-bottom: 0px;
}

.commands2 {
	margin-top: -8px;
	margin-bottom: 0px;	
}

.commands2 ul {
	left: -5px;	
}

.commands3 {
	margin-top: -8px;
	margin-bottom: 0px;	
}

.counter-random ul, .commands1 ul, .commands2 ul, .commands3 ul {
	list-style-type: none;
	position: relative;
	top: 0px;
	bottom: 0px;
	padding: 0px;
}

.counter-random li, .commands1 li, .commands2 li, .commands3 li {
	display: inline;
	position: relative;
	top: 0px;
	bottom: 0px;
}

.counter-random ul ul, .commands1 ul ul, .commands2 ul ul, .commands3 ul ul {
	padding-left: 25px;
}

.commands3 li {
	margin-left: 8px;
	font-size: 11px!important;
}

button {
	padding: 2px 0px;
	font-size: 12px;
	min-width: 40px;
}

#changes {
	position: relative;
}

#changes-in-color {
	display: inline-block;
	text-align: left;
}

#edge {
	position: relative;
	display: inline-block;
	left: 20px;
	top: 4px;
}

#edge label {
	margin: 0 4px;
}

#changes-in-color, #edge, .commands3 li {
	font-size: 12px;
}

.deact {
	color: grey;
}

.deact #density {
	cursor: default;
}

.deact input {
	color: grey;
}

li .tip {
	visibility: hidden;
	opacity: 0;
	width: auto;
	background-color: #FFFFE1;
	color: #000;
	text-align: center;
	border: black solid 1px;
	border-radius: 0px;
	padding: 2px 4px;
	white-space: nowrap;
	font-size: 12px;
	text-align: left;
	-webkit-transition-property: opacity; /* Safari */
	-webkit-transition-duration: 0.7s; /* Safari */
	-webkit-transition-delay: 0s; /* Safari */
	transition-property: opacity;
	transition-duration: 0.7s;
	transition-delay: 0s;

	/* Position the tooltip */
	position: absolute;
	left: 0px;
	z-index: 1;
	outline: none;
}

.counter-random li .tip {
	bottom: 28px;
	left: auto!important;
	right: -18px;
}

.commands1 li .tip {
	bottom: 20px;
}

.commands2 li .tip {
	bottom: 28px;
}

.commands3 li .tip {
	bottom: 20px;
}

#inverse-tip {
	left: auto!important;
	right: -56px;
}

#edge-tip {
	left: auto!important;
	right: 8px;
}

li:hover .tip {
	visibility: visible;
	opacity: 1;
	-webkit-transition-property: opacity; /* Safari */
	-webkit-transition-duration: 0.7s; /* Safari */
	-webkit-transition-delay: 1s; /* Safari */
	transition-property: opacity;
	transition-duration: 0.7s;
	transition-delay: 1s;
}

li:hover .tip:hover {
	visibility: hidden;
}

li .tip ul {
	list-style-type: disc;
}

li .tip li {
	display: list-item;
}

.keyshort {
	color: blue;
	font-weight:bold;
}

button img {
	margin-top: 3px;
	margin-bottom: auto;
}

#start {
	width: 70px;
}

#step {
	width: 20px;
}

.led-off, .led-on {
	display: inline-block;
	position: relative;
	left: 4px;
	top: 5px;
	width: 12px;
	height: 12px;
}

.led-off {
	background: url(images/led.png) 0 0;
	background-size: 12px auto;
}

.led-on {
	background: url(images/led.png) 0 -12px;
	background-size: 12px auto;
}

.led-on {
	background: url(images/led.png) 0 -12px;
	background-size: 12px auto;
}

input[type="number"]:focus {
	background-color: #BFF;
}

#numberofrows, #numberofcolumns {
	width: 43px;
}

#tablewidth {
	width: 50px;
}

#cellwidth {
	width: 36px;
}

.accept {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 620px) {
	.languages {
		position: relative;
		padding: 0;
		right: 0;
		margin-top: 40px;
	}
}

@media screen and (max-width: 828px) {
	table, #help, .counter-random, .commands1, .commands2 {
		display: none;
	}

	h2 {
		display: block;
		color: #700;
		margin: 40px auto 0 auto;
		width: auto;
		white-space: initial;
	}
}
